
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap');

 :root{
    --black:#000000;
    --white:#ffffff;
    --green:#D8F213;
}
/* * {
    margin: 0;
    padding: 0;
  } */

  /* HEADER */

h1{
    font-family: 'Playfair Display', serif;
    font-size: 110px;
    font-weight: lighter;
    line-height: 1em;
    margin-top: 50px;
    margin-bottom: 50px;   
}

.line4{
  margin-top: 10px;
  margin-bottom: 50px;
}
body{
  font-family: 'open sans'; font-size: 16px;
  line-height: 1.5em;
  margin-left: 350px;
  margin-right: 350px;
  margin-bottom: 100px;
  text-align: justify;
}
.p{
  margin-top: 20px;
  margin-bottom: 20px;
}
p::first-letter {
  float: left;
  font-size: 5em;
  margin: 0 .1em 0 0;
  line-height: 0.85;
}

#p8{
  margin-bottom: 100px;
}

.bnav{
  height: 3px;
  width: 930px;
  margin-left: 0px;
  margin-right: 350px;
  background-color: var(--green);
}

nav a{
  margin-bottom: 100px;
  /* margin-left: 0px; */
  font-family: 'Open Sans Condensed';
  font-size: 20px;
  color: #000000;
  width: 100%;
  overflow: auto;
  /* padding-top: 20px; */
  /* padding-bottom: 20px; */
}

.link1{
    padding: 15px;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }